<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IUsersManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IGameManagement">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IGameRoomManagement">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IMessages">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IPlayersManagement">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IPing">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8090/Services" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IUsersManager" contract="ServicesImplementation.IUsersManager"
                name="NetTcpBinding_IUsersManager">
                <identity>
                    <userPrincipalName value="DESKTOP-54PBLF8\52228" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/Services" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IPlayersManagement" contract="ServicesImplementation.IPlayersManagement"
                name="NetTcpBinding_IPlayersManagement">
                <identity>
                    <userPrincipalName value="DESKTOP-54PBLF8\52228" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/Services" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IGameManagement" contract="ServicesImplementation.IGameManagement"
                name="NetTcpBinding_IGameManagement">
                <identity>
                    <userPrincipalName value="DESKTOP-54PBLF8\52228" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/Services" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IGameRoomManagement" contract="ServicesImplementation.IGameRoomManagement"
                name="NetTcpBinding_IGameRoomManagement">
                <identity>
                    <userPrincipalName value="DESKTOP-54PBLF8\52228" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/Services" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IMessages" contract="ServicesImplementation.IMessages"
                name="NetTcpBinding_IMessages">
                <identity>
                    <userPrincipalName value="DESKTOP-54PBLF8\52228" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/Services" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IPing" contract="ServicesImplementation.IPing"
                name="NetTcpBinding_IPing">
                <identity>
                    <userPrincipalName value="DESKTOP-54PBLF8\52228" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>

</configuration>