<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IUsersManager" transferMode="Buffered" maxReceivedMessageSize="5242880">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IPlayersManagement" transferMode="Buffered" maxReceivedMessageSize="5242880">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IGameManagement" transferMode="Buffered" maxReceivedMessageSize="5242880">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IGameRoomManagement" transferMode="Buffered" maxReceivedMessageSize="5242880">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IMessages" transferMode="Buffered" maxReceivedMessageSize="5242880">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IPing" transferMode="Buffered" maxReceivedMessageSize="5242880">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
			<binding name="netTcpBindingConfig" transferMode="Buffered" maxReceivedMessageSize="5242880">
				  <readerQuotas maxArrayLength="5242880" />
				  <security mode="None" />
		    </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://148.226.51.187:8081/Services" binding="netTcpBinding"
                bindingConfiguration="netTcpBindingConfig" contract="ServicesImplementation.IUsersManager"
                name="NetTcpBinding_IUsersManager">
                <identity>
                    <userPrincipalName value="DESKTOP-54PBLF8\52228" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://148.226.51.187:8081/Services" binding="netTcpBinding"
                bindingConfiguration="netTcpBindingConfig" contract="ServicesImplementation.IPlayersManagement"
                name="NetTcpBinding_IPlayersManagement">
                <identity>
                    <userPrincipalName value="DESKTOP-54PBLF8\52228" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://148.226.51.187:8081/Services" binding="netTcpBinding"
                bindingConfiguration="netTcpBindingConfig" contract="ServicesImplementation.IGameManagement"
                name="NetTcpBinding_IGameManagement">
                <identity>
                    <userPrincipalName value="DESKTOP-54PBLF8\52228" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://148.226.51.187:8081/Services" binding="netTcpBinding"
                bindingConfiguration="netTcpBindingConfig" contract="ServicesImplementation.IGameRoomManagement"
                name="NetTcpBinding_IGameRoomManagement">
                <identity>
                    <userPrincipalName value="DESKTOP-54PBLF8\52228" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://148.226.51.187:8081/Services" binding="netTcpBinding"
                bindingConfiguration="netTcpBindingConfig" contract="ServicesImplementation.IMessages"
                name="NetTcpBinding_IMessages">
                <identity>
                    <userPrincipalName value="DESKTOP-54PBLF8\52228" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://148.226.51.187:8081/Services" binding="netTcpBinding"
                bindingConfiguration="netTcpBindingConfig" contract="ServicesImplementation.IPing"
                name="NetTcpBinding_IPing">
                <identity>
                    <userPrincipalName value="DESKTOP-54PBLF8\52228" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-6.0.0.5" newVersion="6.0.0.5" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>